.header {
  position: sticky;
  top: 0px;
  padding: 15px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  z-index: 2;
  color: black;
}

.header .logo {
  vertical-align: middle;
}
.header .menu .head {
  display: none;
}
.header .menu ul {
  list-style: none;
}
li {
  font-weight: 600;
  font-size: 17px;
}
.header .menu > ul > li {
  display: inline-block;
}

.header .menu > ul > li:not(:last-child) {
  margin-right: 0px;
}

.header-right .open-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.header-right .open-menu-btn {
  display: none;
}

@media (max-width: 959px) {
  .header {
    width: 100%;
  }
  .header .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: #020043;
    padding: 15px 20px;
    overflow: auto;
    z-index: 1;
    transform: translateX(100%);
  }
  .header .menu a,
  .header .menu .i {
    color: #ffffff;
  }
  .header .menu .sub-menu li:hover > a > span,
  .header .menu .sub-menu li:hover > .i {
    color: #d9fbee;
  }

  .header .menu .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .header .menu.open {
    transform: none;
  }

  .header .menu .close-menu-btn {
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .header .menu .close-menu-btn::before,
  .header .menu .close-menu-btn::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #fff;
  }
  .header .menu .close-menu-btn::before {
    transform: rotate(45deg);
  }
  .header .menu .close-menu-btn::after {
    transform: rotate(-45deg);
  }

  .header .menu > ul > li {
    display: block;
  }
  .header .menu > ul > li:not(:last-child) {
    margin-right: 0;
  }
  .header .menu li {
    border-bottom: 1px solid #ffffff68;
  }
  .header .menu > ul > li:first-child {
    border-top: 1px solid #ffffff68;
  }
  .header .menu > ul > li > a {
    padding: 10px 0;
  }

  .header .menu .i {
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
    top: 7px;
  }

  .header .menu .sub-menu {
    color: #ffffff;
    background-color: #020043;
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
    padding: 0;
    transition: none;
    box-shadow: none;
    width: 100%;
    display: none;
  }

  .header .menu .sub-menu span {
    background-image: none;
  }
  .header .menu .sub-menu .i {
    transform: none;
  }
  .header-right .open-menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 44px;
    position: relative;
    background-color: transparent;
    border: none;
  }
  .header-right .open-menu-btn .line {
    height: 2px;
    width: 30px;
    background-color: #020043;
    position: absolute;
  }
  .header-right .open-menu-btn .line-1 {
    transform: translateY(-8px);
  }

  .header-right .open-menu-btn .line-3 {
    transform: translateY(8px);
  }
}
